@use "sass:list";
@use "sass:math";

// Image section
@keyframes appearance {
	from {
		opacity: 0;
		margin-bottom: -20px;
	}
	to {
		opacity: 1;
		margin-bottom: unset;
	}
}

@for $i from 1 through 7 {
	@keyframes items-slide-in-#{$i} {
		from {
			top: 50%;
			left: 50%;
		}
		to {
			@include circle-positioning($circle-radius, list.nth($items-init-position, $i),$start-offset);
		}
	}

	@keyframes items-slide-in-#{$i}-s {
		from {
			top: 50%;
			left: 50%;
		}
		to {
			@include circle-positioning($circle-radius-mobile, list.nth($items-init-position, $i),$start-offset);
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);
	}
}

@each $item in 'forward', 'backward' {
	@keyframes rotate-#{$item} {
		100% {
			$deg: 360deg;
			@if ($item == 'backward') {
				$deg: -360deg;
			}
			rotate: $deg;
		}
	}
}