*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary;
	color: get-color(black);
	background-color: get-color(grey_100);
}

ol,
ul {
	@include nl;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: transparent;
	border: 0;
}

input {
	@include typo(input);

	border: 0;

	&:focus {
		outline: 0
	}

	&::placeholder {
		color: get-color(grey_500);
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		@include typo('h#{$i}');
	}
}