@use "sass:math";

// Блоки
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin pseudo($display: block, $position: absolute) {
	position: $position;
	display: $display;
	content: '';
}

// Активное состояние 
@mixin active($side_h: left, $side_v: top, $width: 4px, $height: 100%) {
  position: relative;

  &::before {
    @include pseudo();

    #{$side_h}: 0;
    #{$side_v}: 0;
    width: $width;
    height: $height;
    background-color:  get-color(orange);
  }
}

// Отступы
@function indent($name) {
  @return map_get($indents, $name);
}

// Бордеры
@mixin border($width: 1px, $color: get-color(gray_100), $position: '') {
  @if ($position != '') {
    border-#{$position}: $width solid $color;
  } @else {
    border: $width solid $color;
  }
}

// Цвета
@function get-color($name) {
  @return map_get($colors, $name);
}

// Иконки 
@function get-icon($name) {
  @return map_get($icons, $name);
}

// Переход
@mixin trans($values...) {
  @if length($values) == 0 {
    $values: 0.3s; //'all .3s ease' – значение по умолчанию
  }

  transition: $values;
}

@mixin hover-opacity($opacity: $hover-opacity) {
  @include trans();

  &:hover {
    opacity: $opacity;
  }
}

// Списки
@mixin nl {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style: none;
	list-style-position: outside;
}

// Изображения
@mixin bg($isCover: true) {
  @if ($isCover) {
    object-fit: cover;
    object-position: center;
  }

  @else {
    object-fit: contain;
  }
}

@mixin image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @include bg;
}

@mixin image-cont($percent: 57.05%) {
  position: relative;

  &::before {
    @include pseudo(block, static);

    padding: $percent 0 0;
  }
}

// Типографика 
@mixin typo($name) {
  $fontStyles: map_get($typo, $name);

  @include styles-gen($fontStyles);
}

// Генератор стилей
@mixin styles-gen($itemStyles) {
  @each $attr, $itemValue in $itemStyles {
    @if (map_get($breakpoints, $attr) != null) {
      @media (max-width: map_get($breakpoints, $attr)) {
        @include styles-gen($itemValue);
      }
    }

    @else {
      #{$attr}: #{$itemValue};
    }
  }
}

// Позиционирование
@mixin circle-positioning($radius, $angle, $offset) {
  top: calc($radius * math.cos($angle + $offset) + 50%);
  left: calc($radius * math.sin($angle + $offset) + 50%);
}

@function get-delay-for-each-item($delay, $duration, $index) {
  @return calc($delay + ($index - 1) * $duration);
}

// Адаптивность
@mixin breakpoint-xl {
  @media (max-width: map_get($breakpoints, xl)) {
    @content;
  }
}

@mixin breakpoint-l {
  @media (max-width: map_get($breakpoints, l)) {
    @content;
  }
}

@mixin breakpoint-m {
  @media (max-width: map_get($breakpoints, m)) {
    @content;
  }
}

@mixin breakpoint-s {
  @media (max-width: map_get($breakpoints, s)) {
    @content;
  }
}
