// Основные
$font-primary: 'Poppins';
$font-secondary: 'Roboto';
$hover-opacity: 0.7;

$colors: (
	black: #2D2D2D,
	white: #FFFFFF,
	orange: #FF8345,
	green: #48B774,

	grey_100: #ECF7F3,
	grey_200: #E8E8E8,
	grey_400: #A1A1A1,
	grey_500: #7C7C7C,
	grey_600: #707070,
	grey_900: #4A4A4A,
);

$breakpoints: (
	xl: '1400px',
	l: '1200px',
	m: '768px',
	s: '576px',
);

$typo: (
	h1: (
		font: 700 48px / 65px $font-primary,
		m: (
			font-size: 36px,
			line-height: 48px,
		)
	),
  h6: (
    font: 500 15px / 25px $font-primary,
		color: get-color(grey_500),
  ),
  small: (
    font: 12px / 21px $font-primary,
  ),
  default: (
    font: 16px / 24px $font-primary,
  ),
	input: (
		font: 16px / 19px $font-secondary,
		color: get-color(grey_900),
	)
);

$icons: (
	search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12.427 20.987a8.556 8.556 0 1 0 0-17.111 8.556 8.556 0 0 0 0 17.11ZM23.12 23.125l-4.651-4.652'/%3E%3C/svg%3E"),
);

// header 
$header-height-mobile: 70px;
$header-indent: 20px;

// image-section
$items-init-position: 10deg, -35deg, -90deg, -145deg, -190deg, -255deg, -285deg;
$block-size: 450px;
$block-size-mobile: 220px;
$circle-radius: calc($block-size / 2);
$circle-radius-mobile: calc($block-size-mobile / 2);
$start-offset: 270deg;
$rotate-duration: 25s;
$delay: 1.5s; // По ТЗ задержка 3 секунды. 
$duration: 0.4s;
