.button {
	&s {
		display: flex;
		gap: 12px;
	}

	@include hover-opacity;

	cursor: pointer;
	border-radius: 30px;
	padding: 10px 22px;

	&_green {
		background-color: get-color(green);
		color: get-color(white);
	}

	&_lens {
		border-radius: 100%;
		background-image: get-icon(search);
		background-size: 25px;
		background-position: center;
		background-repeat: no-repeat;
	}
}