.header {
	$root: &;

	padding: 30px 0;
	margin-bottom: $header-indent;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: get-color(grey_100);

	@include breakpoint-m {
		padding: 15px 0;
	}

	&__logo {
		@include hover-opacity;

		font: 500 25px / 38px $font-primary;
		display: flex;
		align-items: center;
		column-gap: 8px;
		margin-right: 20px;

		@include breakpoint-m {
			width: fit-content;
			justify-content: center;
		}
	}
}