@use "sass:list";
@use "sass:math";

.image-section {
	$root: &;

	margin-top: auto;
	padding-top: 30px;
	margin-left: 20px;
	position: relative;
	max-width: $block-size;
	width: 100%;

	@include breakpoint-l {
		margin: 0 auto;
	}

	&::before {
		@include pseudo;
		@include size(280px);

		background-color: get-color(green);
		border-radius: 50%;
		top: 140px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	&__item {
		&s {
			border-radius: 50%;
			border: 2px solid get-color(grey_200);
			margin: 0 auto calc(-100% + 36px);
			padding-top: calc(100% - 4px);
			position: relative;
			animation: $rotate-duration calc($delay + $duration * (list.length($items-init-position) - 2)) linear infinite rotate-forward;

			@include breakpoint-s {
				@include size($block-size-mobile);

				padding: 0;
				margin: 0 auto -300px;
			}
		}

		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;

		@for $i from 1 through 7 {
			&:nth-child(#{$i}) {
				animation: $duration get-delay-for-each-item($delay, $duration, $i) ease-in-out forwards items-slide-in-#{$i};

				@include breakpoint-s {
					animation-name: items-slide-in-#{$i}-s;
				}
			}
		}

		&-image {
			@include size(50px);

			border: 10px solid get-color(white);
			border-radius: 50%;
			display: block;

			@for $i from 1 through 7 {
				#{$root}__item:nth-child(#{$i}) & {
					animation: 2s get-delay-for-each-item($delay, $duration, $i) linear infinite pulse,
					$rotate-duration calc($delay + $duration * (list.length($items-init-position) - 2)) linear infinite rotate-backward;
				}
			}

			@include breakpoint-s {
				@include size(40px);

				border-width: 5px;
			}
		}

		&:nth-child(7) {
			@include circle-positioning($circle-radius, -285deg, $start-offset);
		}
	}
	
	&__static {
		overflow: hidden;
		display: flex;
		justify-content: center;
		position: relative;

		@include breakpoint-s {
			padding-top: 120px;
			max-height: 500px;
		}

		img {
			display: block;
			object-position: center;
			position: relative;

			@include breakpoint-s {
				object-fit: cover;
				object-position: top;
			}
		}
	}
}