.info {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	margin-bottom: 50px;

	@include breakpoint-l {
		margin-bottom: 30px;
	}

	@include breakpoint-l {
		text-align: center;
	}

	&__narrow-text {
		max-width: 375px;
		display: block;

		@include breakpoint-l {
			max-width: 100%;
		}
	}

	h1 {
		margin-bottom: 12px;
	}

	h6 {
		max-width: 440px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		@include breakpoint-l {
			max-width: 100%;
		}
	}

	.buttons {
		@include breakpoint-l {
			justify-content: center;
		}
	}
}