.navigation {
	$root: &;

	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 64.3%;
	width: 100%;
	text-align: center;
	transition: all 0.3s;

	@include breakpoint-l {
		max-width: 500px;
	}

	@include breakpoint-m {
		opacity: 0;
		position: fixed;
		top: calc($header-height-mobile);
		right: -100%;
		height: calc(100vh - $header-height-mobile);
		max-width: 100%;
		flex-direction: column;
		background-color: get-color(grey_100);
		padding-top: $header-indent;
		justify-content: flex-start;
		row-gap: 30px;
	}

	&_opened {
		opacity: 1;
		right: 0;
	}

	&__link {
		&s {
			@include typo('default');
	
			display: flex;
			column-gap: 44px;
			margin-right: 20px;

			@include breakpoint-m {
				flex-direction: column;
				row-gap: 20px;
				margin: 0;
				width: 100%;
			}
		}

		@include hover-opacity;

		&_active {
			@include active(left, bottom, 21px, 2px);

			&::before {
				left: 50%;
				transform: translateX(-50%);
				bottom: -3px;
			}
		}
	}

	&__fade {
		display: none;
		height: 100%;
		width: 100%;

		@include breakpoint-m {
			display: block;
		}
	}

	&-controls {
		display: none;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint-m {
			display: block;
		}
	}

	&-button.button {
		@include size(20px, 30px);

		position: relative;
		padding: 0;

		&::before,
		&::after {
			@include pseudo;
		}

		&::before,
		&::after {
			height: 2px;
			width: 20px;
			background-color: get-color(green);
			transition: all 0.3s ease-in-out;
		}

		&::before {
			top: 10px;
			width: 15px;
			
			#{$root}_opened + #{$root}-controls & {
				width: 20px;
				top: 13px;
				transform: rotate(45deg);
			}
		}

		&::after {
			bottom: 10px;

			#{$root}_opened + #{$root}-controls & {
				bottom: 15px;
				transform: rotate(-45deg);
			}
		}
	}
}