.round-pictures {
	display: flex;
	align-items: center;
	gap: 12px;

	@include breakpoint-l {
		width: 100%;
		justify-content: center;
	}

	&__item {
		&s {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			color: get-color(white);
			font-size: 26px;
		}

		@include size(38px);

		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		border: 3px solid get-color(white);
		border-radius: 100%;
		overflow: hidden;
		background-color: get-color(orange);
		user-select: none;

		&:not(:last-child) {
			margin-left: -16px;
		}

		img {
			@include image-bg;
		}
	}

	&__text {
		@include typo(default);

		color: get-color(grey_600);
		font-family: $font-secondary;
	}
}