.search {
	margin-bottom: 40px;
	max-width: 600px;

	@include breakpoint-l {
		margin-left: auto;
		margin-right: auto;
	}

	&__field {
		background-color: get-color(white);
		border-radius: 100px;
		display: flex;
		column-gap: 8px;
		overflow: hidden;
		box-shadow: 0px 20px 30px rgba(222, 222, 222, 0.25);

		@include breakpoint-s {
			justify-content: space-between;
		}

		input {
			padding-left: 40px;
			flex-grow: 1;

			@include breakpoint-s {
				flex-grow: 0;
				padding-left: 10px;
				min-width: 100px;
			}
		}
	}

	&__button {
		@include size(55px);

		flex: 0 0 55px;
		margin: 4px;

		@include breakpoint-s {
			@include size(30px);

			flex: 0 0 30px;
			padding: 0;
		}
	}
}