.section {
	animation: 0.6s ease-in-out appearance;
	position: relative;

	&_top-indent-large {
		margin-top: 36px;

		@include breakpoint-s {
			margin-top: 20px;
		}
	}

	&_faded {
		&::after {
			@include pseudo;

			bottom: -1px;
			width: 100%;
			height: 20px;
			background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(236,247,243,1) 100%);
			max-width: 100%;
		}
	}
}